#paineis-sobre {
	margin-top: 20px;
}

html,
body {
	height: 100%;
}
.blogg{
	width:90%;
	float:left;
	margin-top:5%;
	margin-left:5%;
	padding: 20px;
	border-radius: 5px;
}
.roda-5{
	width:20%;
	float:left;
	position:relative;
	min-height:1px;
	padding-right:15px;
	padding-left:15px
}
#equipe{
	width:100%;
	float:left;
	padding-left:5%;
	padding-right:5%;
}
@font-face{
	font-family:"a bit sketchy";
	src:url("a bit sketchy.ttf") format("truetype");
}
.fonte-ichi{
	font-family:"a bit sketchy";
	color:black;
}
.fonte-ichi-red{
	font-family:"a bit sketchy";
	color:red;
}
.fonte-ichi-blue{
	font-family:"a bit sketchy";
	color:blue;
}
.fonte-ichi-white{
	font-family:"a bit sketchy";
	color:white;
}


header {
	background-image: url(../../images/wallpaper.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: 100%;
	width: 100%;
	float:left;
	transform: translate(-50%, -50%);
	transition: .3s;
}


header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.Banner-Inicio {
	color: #FFF;
	background-color: rgba(0, 0, 0, .5);
	padding: 20px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s;
}

.titulo-depoimentos {
	background-color: #0275D8;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFF;
	margin-bottom: 0;
	font-size: 24px;
}

.contato-select,
.grupo-radio {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.grupo-radio .radio:first-child {
	margin-top: 0;
}

footer {
	background-color: rgba(0, 0, 0, .9);
	color: #FFF;
	margin-top: 10px;
}

footer address:last-child {
	margin-bottom: 0;
}

@media(min-width: 768px) {
	#paineis-sobre {
		margin-top: 0;	
	}
}

@media(min-width: 992px) {
	.Banner-Inicio {
		left: 0;
		transform: translate(0, -80%);
		width: 50%;
	}

	.Banner-InicioWrapper {
		position: relative;
		height: 100%;
	}
}
