#paineis-sobre {
	margin-top: 20px;
}

html,
body {
	height: 100%;
	background-image:url(../../images/textura.png);
}
header{
	width:100%;
	padding-top:3.2em;
}
#projetos h2{
	color:blue;
}

#logoWalpaper {
	background-image: url(../../images/wallpaper.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: 100%;
	width: 100%;
}
.img-short{
	max-width:275px;
	float:left;
	margin:10px;
}

#logoWalpaper h1 {
	margin-top: 0;
	font-size:3em;
	margin-bottom: 0;
}
#logo{
	font-family:"a bit sketchy";
	width:90%;
	height:100%;
}
#logo-sub{
	font-family:"a bit sketchy";
	width:90%;
}
#nav{
	font-family:"a bit sketchy";
	color: rgba(6,185,11,1);
}
#nav a{
	color: rgba(6,185,11,1);
	font-size:18px;
}
#nav a:hover{
	color: rgba(0, 255, 41, 0.8);
    text-decoration: none;
}
.autor{
	font-size: 1em;
	float: right;
	background-color:rgba(0,0,0,0.5);
	color:#FFF;
	padding:5px;
	margin:0.5em;
	border: 1px solid rgba(255,255,255,1);
	border-radius: 5px;
}
.autor name{
	font-weight: bold;
}
.autor data{
	font-style:italic;
}
.autor ref{
	bottom:0px;
}
.autor ref a{
	color:#FFF;
	font-weight: bold;
	text-decoration:none;
}
.deep-black{
	width:90%;
	margin:3% 5%;
}
.deep-white{
	border-radius: 5px;
	background-color: rgba(255,255,255,0.95);
	min-height: 350px;
	width:90%;
	margin:1% 5%;
    border: 1px solid #a7d7f9;
	border-radius: 9px;
    border-right-width: 0;
}
.deep-white img{
	display: block;
	max-width: 100%;
	background-size:cover;
	-webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.bannerlogo {
	color: #FFF;
	background-color: rgba(0, 0, 0, .7);
	padding: 20px;
	border-radius: 5px;
	margin: 2px;
	text-shadow:5px;
	position: relative;
	top: 30%;
}
.bannerlogo h1{
	font-size:2.5em;
	color:rgba(255,27,15,1);
}
.bannerlogo p{
	font-size:1.5em;
	color:rgba(148,254,41,1);
}
.rock_logo{
	color: #FFF;
	padding: 20px;
	width: 80%;
	min-height:120px;
	border-radius: 5px;
	position: relative;
}

.rock h2{
	font-family: 'Cabin Sketch', cursive;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
}

.rock h3 {
	font-family: 'Cabin Sketch', cursive;
	font-style: normal;
	font-weight: bold;
}

footer {
	background-color:rgba(0,0,0,0.95);
	text-align:center;
}
.mybtn{
	color: rgba(6,185,11,1);
	display: inline-block;
	margin-bottom: 0; // For input.btn
	font-weight: @btn-font-weight;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
}
.mybtn:hover{
	color: rgba(0, 255, 41, 0.8);
    text-decoration: none;
}


footer address:last-child {
	margin-bottom: 0;
}

@media(min-width: 768px) {
	#paineis-sobre {
		margin-top: 0;	
	}
}

@media(min-width: 300px) {
	.banner {
		left: 0;
		transform: translate(0, -80%);
	}
}

@font-face {
	font-family:"A bit sketchy";
	src:url("A_bit_sketchy.eot?") format("eot"),url("A_bit_sketchy.woff") format("woff"),url("A_bit_sketchy.ttf") format("truetype"),url("A_bit_sketchy.svg#Abitsketchy-Regular") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: normal;
  src: local('Italiana'), local('Italiana-Regular'), url(https://fonts.gstatic.com/s/italiana/v5/LfYaHQ4Rk7tkyzfelQ0U6_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.fonte-ichi{
	font-family:"a bit sketchy";
}

.blogg{
	margin-top:5%;
	margin-left:5%;
	padding: 20px;
	border-radius: 5px;
}
.text-adjust{
	padding:2em;
}
.roda-5{
	width:20%;
	position:relative;
}


.df{
	
}
.df h2{
	font-family: 'Italiana', serif;
        background-position: right center;
        background-color: rgb(0, 191, 255,);   
}
.df h3{
	font-family: 'Italiana', serif;
        background-position: right center;
        background-color: rgb(0, 191, 255,);  
}
.center { 
    height: 200px;
    position: relative; 
}

.center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-10%, -15%);
}

.center p1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, -15%);
}


